<meta charset="UTF-8">
<title>Loja TI</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0" >
<style>
    body { padding: 5vh 10%; padding-top: 50px; }
</style>
<link rel="stylesheet" type="text/css" href="/css/style.css">