<!DOCTYPE html>
<html>
    <head>
        <% include('../partials/header') %>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-3">
                    <h2>Recuperar Senha</h2>
                    <hr /><br />

                    <% if(success){ %>
                        <div class="alert alert-success">
                            <%= success %>
                        </div>
                    <% } %>

                    <% if(error){ %>
                        <div class="alert alert-danger">
                            <%= error %>
                        </div>
                    <% } %>

                    <p>
                        Digite seu email para receber as instrucoes de como reiniciar a sua senha
                    </p>

                    <form action="/v1/api/usuarios/recuperar-senha" method="POST">
                        <div class="form-group">
                            <input 
                                type="email"
                                name="email"
                                class="form-control"
                                placeholder="Digite seu e-mail"
                                 />
                        </div>
                        <button class="btn btn-primary">
                            Recuperar Senha
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>